---
import AuthenticatedLayout from "@/layouts/AuthenticatedLayout.astro";
import { AddRecipeForm } from "@/components/recipes/AddRecipeForm";

// Disable prerendering since this is a dynamic page
export const prerender = false;
---

<AuthenticatedLayout title="Create Recipe">
  <div class="container mx-auto px-4 py-8">
    <AddRecipeForm client:load />
  </div>
</AuthenticatedLayout>
